.navigation {
    padding: 20px 0;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list-item {
    display: inline;
}

.list-item:not(:first-child) {
    padding-left: 40px;
}
