* {
    font-family: "Roboto Mono", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary-color);
    background-color: var(--main-color);
    transition: all ease-in 0.2s;
}

:root, .light-theme {
    --main-color: #fff;
    --secondary-color: #000;
    --toggle-background: #1849AB;
}

:root, .dark-theme {
    --main-color: #6E6E6E;
    --secondary-color: #fff;
    --toggle-background: #E7B654;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}
